Checks: >
  -*,
  bugprone-unused-raii,
  bugprone-use-after-move,
  performance-for-range-copy,
  performance-move-constructor-init,
  performance-no-automatic-move,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-redundant-void-arg,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-access-specifiers,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-redundant-member-init,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  -clang-analyzer-*
WarningsAsErrors: "*"
HeaderFilterRegex: '(.*/runtime/cpp/include/flowrt/.*|.*/flowrt/cpp/(include|src)/.*)'
FormatStyle: file
